doctype html
html
	head
		title=title
	body
		block content
		script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
		script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js")
		script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.js")
		script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.2.0.js")
		script(type="text/javascript", src="/js/main.js")
